@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    font-family: "Work Sans", sans-serif;
    --white:hsl(0, 0%, 100%);
    --lightPink: hsl(275, 100%, 97%);
    --grayishPurple:hsl(292, 16%, 49%);
    --darkPurple:hsl(292, 42%, 14%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: var(--lightPink);
}

.background-image {
    z-index: -1;
    position: relative;
}

.background {
    width:1920px;
    max-height: 320px;
    position: relative;
}

.acc-container {
    margin:0 auto;
    max-width:700px;
    width:100%;
    top:-200px;
    position: relative;
}

.accordion-box{
    display:flex;
    flex-direction: column;
    background:var(--white);
    padding:50px;
    border-radius: 20px;
}

.accordion-content{
    color: var(--grayishPurple);
    line-height: 1.5;
    margin:5px 0 20px 0;
    display: none;
}

.title{
    display: flex;
    align-items: center;
}

h1{
    font-size: 70px;
    color: var(--darkPurple);
}

/*added these styles to remove default styling*/
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.accordion{
    display:flex;
    flex-direction: column;
}

.accordion-section {
    margin:10px;
    border-bottom: 1px solid var(--lightPink);
}

.accordion-header {
    display:flex;
    justify-content: space-between;
    margin-block:5px;
}

h6 {
    font-size: 20px;
    color: var(--darkPurple);
}

.minus{
    display: none;
}

.icons {
    margin-left: auto;
}